@model ParkyWeb.Models.User
<h1>Register</h1>
<form method="post">
    <input asp-for="Username" type="text" placeholder="Username" />
    <input asp-for="Password" type="text" placeholder="Username" />
    <button type="submit" value="submit">Login</button>
</form>